/* =============google fonts========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
    --header-height:3rem;

    --hue-color: 230;
    
    --first-color:hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter:hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color:hsl(var(--hue-color), 8%, 45%);
    --text-color-light:hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 7%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --color--negro: #000;
    --color--azul: #186FEA;
    --color--azul-second: #81c9fa;
    --color--blanco:#fff;
    --color-hr:#b5b5b5;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);



    /* ============FUENTES Y TIPOLOGIA========= */


    --body-font: 'Poppins', sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 2.35rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --medium-font-size:.920rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* =======font weight========== */

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-max-bold:900;


    /* ============margen============ */


    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/* ===========z-indez============== */
    --z-tooltip: 10;    
    --z-fixed:  100;
    --z-modal:100;
    --z-max:999;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

 
header{
    display: block;
    width: 100%;
}

.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Desktop ]*/

.container-menu-desktop {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}



/*==================================================================
[ Menu ]*/

.wrap-menu-desktop {
  position: fixed;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  height: 84px;
  top: 40px;
  left: 0px; 

  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}


/*---------------------------------------------*/
.limiter-menu-desktop {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
}



/*------------------------------------------------------------------
[ Logo ]*/
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 65%;
  margin-right: 55px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}



/*------------------------------------------------------------------
[ Menu ]*/

.menu-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-menu {
  list-style-type: none;
  margin: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.main-menu > li {
  display: block;
  position: relative;
  padding: 20px 10px 20px 0px;
  margin: 0px 4px 0px 14px;
}

.main-menu > li > a {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: #333;
  padding: 5px 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.header-v3 .main-menu > li > a {
  color: #fff;
}

/*---------------------------------------------*/
.sub-menu {
  list-style-type: none;
  position: absolute;
  top:0;
  left:100%;
  min-width: 178px;
  max-width: 225px;
  background-color: #fff;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  padding: 5px 0;

  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);

  visibility: hidden;
  opacity: 0; 
}

.sub-menu li {
  position: relative;
  background-color: transparent;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.main-menu > li > .sub-menu {
  top:100%;
  left: 0;
}

.sub-menu a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #555;

  display: block;
  padding: 8px 20px; 
  width: 100%;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

/*---------------------------------------------*/
.main-menu > li:hover > a {
  text-decoration: none;
  color: #6c7ae0;
}

.main-menu > li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
} 

.sub-menu li:hover {
  background-color: transparent;
}

.sub-menu > li:hover > a {
  color: #6c7ae0;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .main-menu > .respon-sub-menu .sub-menu {
    right: 100%;
    left: auto;
  }

  .main-menu > .respon-sub-menu > .sub-menu {
    right: 0px;
    left: auto;
  }
}

/*------------------------------------------------------------------
[ Icon header ]*/

.wrap-icon-header {
  flex-grow: 1;
}

.icon-header-item {
  position: relative;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}


/*---------------------------------------------*/
.icon-header-noti::after {
  content: attr(data-notify);
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;

  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  min-width: 15px;
  height: 15px;
  padding: 0 3px;
  background-color: #717fe0;
}

/*---------------------------------------------*/
.wrap-header-mobile .wrap-icon-header {
  flex-grow: unset;
}


/*------------------------------------------------------------------
[ Modal search ]*/
.modal-search-header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  bottom: 101%;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  padding: 50px 15px 100px 15px;
}

.show-modal-search {
  bottom: 0;
}

.container-search-header {
  width: auto;
  max-width: 100%;
  position: relative;
}

/*---------------------------------------------*/
.btn-hide-modal-search {
  position: absolute;
  padding: 5px;
  right: 0;
  top: -45px;
  opacity: 0.8;
}

.btn-hide-modal-search:hover {
  opacity: 1;
}

.wrap-search-header {
  width: 960px;
  max-width: 100%;
  height: 120px;
  border: 2px solid #e6e6e6;
  background: #fff;
}

/*---------------------------------------------*/
.wrap-search-header input {
  font-family: Poppins-ExtraLight;
  font-size: 50px;
  line-height: 1.2;
  color: #333;
  
  padding: 0px 30px 0px 0px;
  width: calc(100% - 70px);
  height: 100%;
  background-color: transparent;
}

.wrap-search-header button {
  font-size: 50px;
  color: #333;
  width: 70px;
  height: 100%;
}

.wrap-search-header button:hover {
  color: #6c7ae0;
}

/*---------------------------------------------*/
@media (max-width: 767px) {
  .wrap-search-header input,
  .wrap-search-header button {
    font-size: 30px;
  }

  .wrap-search-header {
    height: 90px;
  }
}

@media (max-width: 575px) {
  .wrap-search-header input,
  .wrap-search-header button {
    font-size: 20px;
  }

  .wrap-search-header button {
    width: 40px;
  }

  .wrap-search-header {
    height: 80px;
  }
}


/*==================================================================
[ Fixed menu desktop ]*/

.fix-menu-desktop .wrap-menu-desktop {
  height: 70px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
}


/*---------------------------------------------*/
.main-menu > li.active-menu > a {
  color: #6c7ae0;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Mobile ]*/
.wrap-header-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #fff;
  padding: 15px;
  display: none;

  box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
}

/*------------------------------------------------------------------
[ Logo mobile ]*/
.logo-mobile {
  display: block;
  position: relative;
  height: 80%;
  padding-right: 25px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
}

.logo-mobile img {
  max-width: calc(100% - 20px);
  max-height: 100%;
  position:absolute;
  top: 0; 
  left: 0; 
  bottom: 0;
  margin: auto;
}



/*------------------------------------------------------------------
[ btn show menu ]*/
.hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.hamburger:hover {
  opacity: 1;
}

/*---------------------------------------------*/
@media (max-width: 991px){
  .wrap-header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-menu-desktop {display: none;}
}

/*==================================================================
[ Menu mobile ]*/
.menu-mobile {
  width: 100%;
  background-color: white;
  display: none;
}

.main-menu-m {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #717fe0;
}

.main-menu-m > li > a {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: white;
  line-height: 2.8;
  padding: 8px 20px 8px 20px;
}

.main-menu-m > li {
  color: white;
  position: relative;
}

.arrow-main-menu-m {
  font-size: 14px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 10px;
  cursor: pointer;
}

.arrow-main-menu-m i {
  transform-origin: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.turn-arrow-main-menu-m i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*---------------------------------------------*/
.sub-menu-m {
  background-color: #fff;
  padding: 10px 15px 10px 32px;
  display: none;
}

.sub-menu-m a {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #666;
  line-height: 2.5;
  padding: 5px 0 5px 0;
}

.sub-menu-m a:hover {
  text-decoration: none;
  color: #555555;
}

@media (min-width: 992px){
  .menu-mobile {
    display: none;
  }
}


/* header{
    z-index: var(--z-max);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
} */

/* header .brand{
    color: var(--color--blanco);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    text-decoration: none;
    

} */
/* .brand{
    top:0;
    display: flex;
    left: 0;
    width: 150px;
    height: auto;
}
header .navigation{
    position: relative;
    top: -20px;

}

header .navigation .navigation-items a{
    position: relative;
    color: var(--color--blanco);
    font-size: var(--medium-font-size);
    font-weight: var(--font-medium);
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}


header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background-color: var(--color--blanco);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before{
width: 100%;

} */

/* section{
    padding: 100px  200px;
} */


hr{
border: 1px solid #666; 
border-radius: 300px/10px; 
height: 0px;
 text-align: center;
}

section{
    display: block;
}


.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color--azul);
    padding: 100px  200px;
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background:rgba(0, 41, 115, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: var(--color--blanco);
    width: 70%;
    margin-top: 50px;
    display: none;
}
.home .content.active{
    display: block;
}

.home .content h1{
    font-size: var(--big-font-size);
    font-weight: var(--font-max-bold);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    margin-bottom: 40px;
}


.home .content h1 span{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.home .content p{
    margin-bottom: 65px;

}


.home .content a{
    background: var(--color--blanco);
    padding: 15px 35px;
    color: var(--color--azul-second);
    font-size:var(--h3-font-size);
    font-weight: var(--font-medium);
    text-decoration: none;
    border-radius: 6px;
}


.home .media-icons{
    z-index: 888;
    position:absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: var(--color--blanco);
    font-size: var(--h2-font-size);
    transition:  0.3s ease;
}


.home .media-icons a:not(:last-child){
    margin-bottom: 15px;

}


.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background:var(--color--blanco);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background:#2196f3;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}



.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}


.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/* ==============aliados=========== */

.aliados{
    display: block;
    margin: auto;
    background-color:rgb(233, 233, 233);
    height: 250px;
}
.container{

display: flex;
    padding: 0 7%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.subtitle{
    display: block;
   
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.exclusives{
    width: 200px; 
}
.exclusives div img{
    width: 100%;
    border-radius: 10px;
}

/* =============propiedades destacadas=========== */


.img-banner{
    background-image: url(../images/bg-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 92px;
    margin-top: 30px;
    margin-bottom: 45px;
    height: 250px;
    
   
}

.container-title{
    color: var(--color--blanco);
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    
}

.products{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-content: center;
}
.grid{
    display: grid;

}







.info__information{
    display: flex;
    
   margin-bottom: var(--mb-0-75);
   
}


.info__container{
    display: flex;
    flex-direction: row;
}
.card{
    margin: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    width: 350px;
    height: 580px;
    
}

.info__icon{
    font-size: 1.2rem;
    color: var(--color--negro);
    margin-right: var(--mb-0-75);
}

.info__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}


.info__subtitle{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}



.card-header img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body{
    display: block;
    padding: 2px;
    
}



.card-body p{
    font-size: 13px;
    margin: 0 0 20px;
}




.tag{
    background-color: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: var(--color--blanco);
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal{
    background-color: #3966e2;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .2rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    width: 110px;
    
    
}


.button:hover{
    background-color: var(--first-color-alt);
}



.button--flex{
   display: flex;
   justify-content: center;
   align-content: center;
   
   
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.footer{
    margin-top: 20px;
    display: block;
    
    background-color: rgb(49 49 50);
    height: auto;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    flex-wrap: wrap;

}

.info-contacto{
    display: block;
    justify-content: center;
    align-content: center;

}

.title-footer{
    font-size: 1.2rem;
    color: var(--color--blanco);
    text-align: center;
    margin: 20px 10px;

   
}

.informacion-footer h6 {
    color: var(--color--blanco);
    font-size: var(--h4-font-size);
   
}

.informacion-footer span  {
    color: rgb(156, 156, 156);
    display: block;
    padding: 10 5px;


}
.informacion-footer span a {
    color: rgb(156, 156, 156);
    display: block;
    padding: 10 5px;


}

.informacion-footer  a {
    color: rgb(156, 156, 156);
    display: block;
    padding: 10 5px;
    text-decoration: none;


}
.icon-footer{
    color: var(--color--blanco);
    font-size: 1.2rem;
}






.eventos{
    display: block;

    justify-content: center;
    align-content: center;
    margin: 10 10px;
    margin: 10 10px;
}


.redes{
    display: block;
  
   
}

.desarrollo a{
    display: block;
    color: var(--color--blanco);
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 20 20px;
    font-size: var(--smaller-font-size);
    text-decoration: none;
}


@media (max-width: 1040px) {
    header{
        padding: 12px 20px;
       
    }
   .home{
        padding: 100px 20px; 
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background:rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a{
        color: #222;
        font-size: var(--h2-font-size);
        margin: 20px;
    }

    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    }

    header .navigation .navigation-items a::before{
        background:#222;
        height: 5px;
    }


    .menu-btn{
       background: url(/assets/menu-open.svg) no-repeat;
       background-size: 30px;
       background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        color: var(--color--blanco);
    }

    .menu-btn.active{
        z-index: var(--z-max);
        background: url(/assets/menu-close.svg) no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;
    }
}


@media screen and (max-width: 830px){ 
    .container-products{
       display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    
    }
    .brand{

        width: 60px;

    }

}
@media screen and (max-width: 580px){ 
   
    .footer-content{
        display: flex;
        flex-direction: column;
        
    }
    .footer-content hr{
        width: 100%;
        border: 1px solid #fff; 
    border-radius: 300px/10px; 
    height: 0px;
    text-align: center;
    }

    .title-footer{
        font-size: 1.4rem;
        color: var(--color--blanco);
       

    }

    .info-contacto{
        text-align: center;
    
    }
    .evento{
        text-align: center;
    
    }

    .redes{
        text-align: center;
        justify-content: center;
        align-content: center;
    }
  
    
}